<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Supplier Login</title>
    <meta charset="utf-8" />

    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/jquery-1.10.2.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.js"></script>

    <script src="../services.js"></script>
    <script src="../demo.js"></script>

</head>
<body ng-controller="SLoginController">
    <br />
    <div class="container-fluid">
        <div class="center-block">
            <form class="col-lg-4 col-lg-offset-4">
                <label>Email</label></p>
                <input class="form-control" type="email" ng-model="s_email" placeholder="Email" />
                <label>Password</label></p>
                <input class="form-control" type="password" ng-model="s_password" placeholder="Password" />
                <br />
                <input class="btn btn-block btn-default" ng-click="Login()" type="button" value="Sign In">
            </form>
        </div>
    </div>

</body>
</html>
