<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>View Products</title>
    <meta charset="utf-8" />

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.0.0.js"></script>
    <script src="Scripts/bootstrap.js"></script>

    <script src="demo.js"></script>
    <script src="services.js"></script>

</head>
<body ng-controller="SViewProductsController">
    <form>
    <table class="table table-hover">
        <!-- cellspacing="40" align="center" style="width:95%" -->
        <thead class="grid-top panel">
            <tr>
                <!--<th>Product Logo</th>-->
                <th>ID</th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
                <th>Product Threshold</th>
                <th>Product Instock</th>
                <th>Product Add Batch</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prd in Products">
                <td>{{prd.prod_id}}</td>
                <td>{{prd.prod_name}}</td>
                <td>{{prd.prod_type}}</td>
                <td>{{prd.prod_desc}}</td>
                <td>{{prd.prod_price}}</td>
                <td>{{prd.prod_quantity}}</td>
                <td><input align="center"type="text" name="{{prd.prod_threshold}}" disabled><br></td>
                <td>{{prd.prod_instock}}</td>
                <td>
                    <div ng-if="prod.prod_quantity <5">
                        <h3 style="color:#f00"><strong>Running Low!</strong></h3>
                    </div>
                    <input class="form-control" type="number" ng-model="prod_quantity" min="1" />
                    <br /><br /><a class="btn btn-success" ng-click="Edit(prd)">Update quanity</a><br /><br />
                </td>
            </tr>
        </tbody>
    </table>
    </form>

</body>
</html>