<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Track Order</title>
</head>
<body ng-controller="TrackController">
    <form>
        <table class="table table-hover general-table" cellspacing="40" align="center" style="width:80%" ng-model="resSearch">
            <thead class="grid-top panel">
                <tr>
                    <th>Order ID</th>
                    <th>Delivery Address</th>
                    <th>Total Price</th>
                    <th>Order Status</th>
                    <th>Delivery Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ord in order_data">
                    <td>{{ord.ord_id}}</td>
                    <td>{{ord.ord_country}}</td>
                    <td>{{ord.totalPrice}}</td>
                    <td>{{ord.ord_status}}</td>
                    <td>{{ord.ord_deliveryStatus}}</td>

                </tr>
            </tbody>
        </table>
    </form>
    <!--SCRIPTS HERE-->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.0.0.js"></script>
    <script src="Scripts/bootstrap.js"></script>

    <script src="demo.js"></script>
    <script src="services.js"></script>
</body>
</html>
